$my-yellow: #f1ff2a;
$my-yellow-hover: #f6ff7b;
$my-orange: #ff7b00;
$my-orange-hover: #ff8e25;

.header {
  background-color: #584278;
  img {
    &:hover {
      transform: rotate(360deg);
    }
  }
}

.input-wrapper {
  padding: 0;
  i {
    color: white;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  input {
    height: 35px;
    width: 100%;
    position: relative;
    padding: 25px;
    border: none;
    background-color: rgb(46, 46, 46);
    text-align: center;
    color: white;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 20px 8px #39c5d8;
    }
  }
}

::placeholder {
  color: white;
  font-size: 15px;
}

.header-row {
  align-items: center;
}

.header-col-first {
  display: flex;
  justify-content: flex-start;
}

.header-col-second span {
  font-size: 12px;
}

.btn-register {
  /* position: absolute; */
  right: 50px;
  color: black !important;
  background-color: $my-yellow;
  padding: 5px 10px;
  font-size: 12px !important;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  &:hover {
    background-color: $my-yellow-hover;
  }
}

.header-col-second {
  i {
    font-size: 26px;
    color: #acacac;
  }
  span {
    color: #eee;
  }
}

.nav-item {
  display: inline;
  /* padding: 2px; */
}

.nav-item a {
  color: $my-orange !important;
}

.nav-item a:hover {
  background-color: #39c5d8;
  border-radius: 5px;
  color: black !important;
}

.dropdown-menu {
  background-color: #584278 !important;
}

.dropdown-item {
  color: white !important;
}

.navbar-collapse {
  flex-grow: 0;
}

/* Main View */

.item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 10px 10px 10px;
  &:hover {
    box-shadow: 0 0 15px rgb(57, 197, 216);
    border-radius: 15px;
    border: none;
    outline: none;
  }
  p {
    text-align: justify;
    font-size: 14px;
  }
  img {
    margin-bottom: 15px;
  }
  .btn {
    margin: 5px;
  }
  h6 {
    font-weight: bold;
  }
  a {
    color: black;
  }
}

.btn {
  padding: 5px 10px;
  background-color: #6495ed;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  &:hover {
    background-color: #a1b7e0;
  }
}

.btn-shop {
  padding: 5px 10px;
  background-color: #dc143c;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  &:hover {
    background-color: #ff2600;
  }
  i {
    margin: 3px;
    vertical-align: middle;
  }
}

/* Footer */

.footer {
  background-color: #0b0514;
  padding: 20px;
  a {
    color: white;
    margin: 5px;
  }
  p {
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
  }
}

.left-side {
  text-align: center;
}

.right-side a:hover {
  color: $my-orange;
}

.left-side i {
  color: white;
  margin: 10px 10px;
  font-size: 24px;
}

.left-side i:hover {
  color: $my-orange;
  transform: scale(1.2);
}

.navbar-toggler-icon {
  color: white !important;
}

.navbar-toggler {
  color: white;
}

/* carosel */

.custom-col-lg-4-for-carosel-inside a img:hover {
  box-shadow: 0 0 8px 1px #818181;
}

.ads-wrapper {
  background-color: #e0e0e0;
  padding: 10px;
}

.register-forms input::placeholder {
  text-align: right;
  font-size: 12px;
}

.register-forms label {
  font-size: 14px;
}

.register-forms .btn {
  background-color: $my-orange;
  &:hover {
    background-color: $my-orange-hover;
  }
}

.register-forms .form-control:focus {
  box-shadow: none;
  border-color: $my-orange;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}
.register-form-wrapper .row {
  justify-content: center;
  align-items: center;
}
.register-form-wrapper-deep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form-wrapper {
  border-radius: 50px;
}

.section-title {
  display: inline-block;
  font-size: 18px;
  border-bottom: 2px solid red;
  margin-bottom: 20px;
  padding: 5px;
}

.hf {
  height: fit-content;
}

.footer .mid-side input {
  height: 40px;
  background-color: #ddbebe;
  border-radius: 5px;
}

.footer .mid-side p {
  font-size: 14px;
}

.footer input {
  padding: 8px;
  color: black;
  &::placeholder {
    text-align: right;
    font-size: 12px;
    padding: 8px;
    color: black;
  }
}

.custom-btn {
  padding: 9px 20px !important;
  background-color: $my-yellow;
  box-shadow: none;
  border: none;
  font-size: 14px;
  margin-top: 1px;
  color: black;
  &:hover {
    background-color: $my-yellow-hover;
    color: black;
  }
}
